<h1>All tags</h1>

<ul id="tags">
    <% @tags.each do |tag| %>
        <li>
            <%= tag.name %>
            <% if logged_in? %>
                <%= link_to "delete", tag_path(tag), method: :delete %>
            <% end %>
        </li>
    <% end %>
</ul>
